.cardTile{

    margin-top: 2px;;
    margin-left: 19px;
}
.sidebtn{

   color: green;
   background-color: greenyellow;
}
.imgclass{
align-items: center;
align-content: center;
    width: 199px;
    height: 166px;
}